.content{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #a5a8a8;
    border-radius: 15px;
}

.titre{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}

img{
    margin-bottom: 5%;
}