* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #339bb2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

nav .profil {
  height: 40px;
  justify-content: space-between;
  display: flex;
  list-style: none;
  margin: 4px 2px;
}

nav .profil .profilButton a {
  padding: 10px 20px;
  display: inline-block;
  margin: 2px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #a5a8a8;
  color: #000000;;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 5px #a5a8a8;
}


nav .profil .profilButton a:hover {
  color: #000000;
  background-color: #777777;
  box-shadow: 0 0 5px #777777;
  transition: box-shadow 1s;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a5a8a8;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

nav ul li a:hover {
  color: #000000;
  background-color: #777777;
  box-shadow: 0 0 5px #777777;
  transition: box-shadow 1s;
}